<% for (let i = 0; i < products.length; i++) { %>
<tr>
  <td><%=products[i].sort%></td>
  <td><%=products[i].compName%></td>
  <td><%=products[i].prodName%></td>
  <td><%=products[i].regDate%></td>
  <td><%=products[i].author%></td>
  <td><a href="#" onclick="deleteConfirm('${prodName}')" class="deletebutton">삭제</a></td>
</tr>
<% } %>